/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px) {
	.input-search{
		width: 100%
	} 
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  {
	.input-search{
		width: 100%
	} 
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
	.input-search{
		width: 80%
	} 
}
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
	.input-search{
		width: 50%
	} 
}
/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
	.input-search{
		width: 50%
	} 
}
/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 
	.input-search{
		width: 50%
	} 
}